body{
    background-image:url("pexels-photo-733857.webp") ;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 80vh;
    background-size: cover;
    padding: 100px;

}

label{
        display:inline-block;
        padding: 15px 20px;
        font-weight: 400;
        color:black;
        font-size: large;
}
h1 {
    color:black;
    font-size:large;
}


  